.col-example {
  padding: 5rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
}

.main {
  margin: 50px 100px;
}

.col7-container {
  height: 100%;
  width: 100%;
  background-color: #fd7e14;
}

.buttons_added {
  opacity: 1;
  display: inline-block;
  display: -ms-inline-flexbox;
  display: inline-flex;
  white-space: nowrap;
  vertical-align: top;
  border-radius: 50%;

}

.is-form {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  height: 30px;
  width: 30px;
  padding: 0;
  background-color: #212529;
  color: white;
  font-size: 20px;
}

.is-form:focus,
.input-text:focus {
  outline: none;
}

.is-form.minus,
.is-form.plus {
  border-radius: 50%;
  margin: 2px 5px;
}

.input-qty {
  background-color: #fff;
  height: 2.2rem;
  text-align: center;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
  margin: 0;
  border-radius: 50%;

}

.crop-long-texts {
  max-width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrapper3>div {
  border: var(--lineThick) var(--lineStyle) var(--lineColor);
  background-color: var(--color);
  display: grid;
  place-items: left;
  color: white;
}

.wrapper3 {
  display: flex;
  flex-direction: column;
  height: 80px;
  flex-wrap: wrap;
}

.wrapper3>div:nth-child(1),
.wrapper3>div:nth-child(3) {
  height: 50%;
  flex: 1;
  margin-left: 10px;
}

.wrapper3>div:nth-child(2) {
  order: -1;
  height: 100%;
}

.img-table {
  height: 80px;
  width: 120px;
}

span {
  max-width: 420px;
}

.col3-container {
  height: 85%;
  width: 100%;
  background-color: #e5e7e9;
  padding: 10px;
  margin-left: 30px;
}

.col3-container>.img-table {
  height: 150px;
  width: 250px;
}

.ulb {
  border-bottom: 1px solid rgb(148, 148, 148);
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.g {

  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

.total {
  display: flex;
  flex-wrap: wrap;
}

.add {
  border-radius: 0;
  width: 150px;
}

.red-text>span:nth-child(2) {
  font-size: 12px;
}

/* mobie */
@media only screen and (min-width:46.1785em) {
  .content{
    width: "150px";
    height: "168px";
  }
}

@media only screen and (min-width:46.25em)and (max-width:63.9375em) {
  .content{
    width: "150px";
    height: "168px";
  }
}