.seats {
    background-color: rgb(43, 39, 39);
    height: 100vh;
    display: flex;
   
    justify-content: center;
    flex-direction: column;
  }
  
  .seats > h3 {
    color: black;
    margin-top: 20px;
  }
  .screens {
    margin-top: 8px;
    background-color: black;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px 2px rgb(107, 68, 63);
  }
  .screen {
    color: red;
    width: 100%;
    height: 250px;
  }
  .seat-price {
    margin-top: 20px;
    display: flex;
    background-color: rgb(83, 199, 235);
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  
  .seat-select {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .seats-select {
    font-size: 20px;
    margin-left: 20px;
  }
  .price {
    font-size: 20px;
  }
  .totalprice {
    margin-left: 50%;
  }
  .continue {
    background-color: rgb(51, 99, 114);
    margin-top: 15px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: rgb(63, 212, 63);
  }
  .a{
    background-color: #4CAF50;
    height: 28px;
    width: 28px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
